.chat-input {
    height: 12vh;
    width: 100%;
    background-color: rgb(192, 238, 238);
    position: fixed;bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box {
    height: 40px;
    width: 55%;
    border: none;
    padding-left: 8px;
    border-radius: 10px;
    margin-right: 5px;
}
.emoji-button {
    border: none;
    height: 40px;
    background-color: #ffffff;
    margin-right: 5px;
    border-radius: 8px;
}
.send-button {
    height: 40px;
    background-color: #e0b420;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    width: 120px;
}